hachoir
numpy
Pillow
psutil
pyrogram==1.4.16
requests
tgcrypto
sqlalchemy==1.3.23
psycopg2-binary
feedparser
##------ Broadcast -------##
aiofiles
motor
dnspython
flask
gunicorn==20.1.0
aiohttp==3.8.2
